@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:'Arial','sans-serif';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes hero-gradient-animation {
  0% {
      --x-0: 91%;
      --s-start-0: 1%;
      --s-end-0: 61%;
      --c-0: hsla(232.5, 0%, 0%, 1);
      --y-0: 90%;
      --x-1: 17%;
      --y-1: 24%;
      --c-1: hsla(75, 0%, 0%, 1);
      --s-start-1: 0%;
      --s-end-1: 55%;
      --y-2: 32%;
      --s-start-2: 19%;
      --s-end-2: 54%;
      --x-2: 11%;
      --c-2: hsla(232.5, 25%, 12%, 1);
      --c-3: hsla(254.00000000000034, 4%, 40%, 1);
      --y-3: 31%;
      --s-start-3: 0%;
      --s-end-3: 67%;
      --x-3: 2%;
      --s-start-4: 12%;
      --s-end-4: 82%;
      --y-4: 93%;
      --x-4: 74%;
      --c-4: hsla(349, 0%, 0%, 1);
  }

  100% {
      --x-0: 49%;
      --s-start-0: 19%;
      --s-end-0: 69%;
      --c-0: hsla(232.50000000000048, 9%, 28%, 1);
      --y-0: 25%;
      --x-1: 1%;
      --y-1: 41%;
      --c-1: hsla(241.99999999999886, 10%, 23%, 1);
      --s-start-1: 3%;
      --s-end-1: 77%;
      --y-2: 93%;
      --s-start-2: 6%;
      --s-end-2: 73%;
      --x-2: 44%;
      --c-2: hsla(321, 0%, 0%, 1);
      --c-3: hsla(246.17647058823542, 10%, 23%, 1);
      --y-3: 51%;
      --s-start-3: 8%;
      --s-end-3: 86%;
      --x-3: 97%;
      --s-start-4: 20%;
      --s-end-4: 75%;
      --y-4: 69%;
      --x-4: 10%;
      --c-4: hsla(232.5, 19%, 16%, 1);
  }
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 91%
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 1%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 61%
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(232.5, 0%, 0%, 1)
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 90%
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 17%
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 24%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(75, 0%, 0%, 1)
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 55%
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 32%
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 19%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 54%
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 11%
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(232.5, 25%, 12%, 1)
}

@property --c-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(254.00000000000034, 4%, 40%, 1)
}

@property --y-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 31%
}

@property --s-start-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%
}

@property --s-end-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 67%
}

@property --x-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 2%
}

@property --s-start-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 12%
}

@property --s-end-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 82%
}

@property --y-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 93%
}

@property --x-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 74%
}

@property --c-4 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(349, 0%, 0%, 1)
}

#animated-bg {
  --x-0: 91%;
  --c-0: hsla(232.5, 0%, 0%, 1);
  --y-0: 90%;
  --x-1: 17%;
  --y-1: 24%;
  --c-1: hsla(75, 0%, 0%, 1);
  --y-2: 32%;
  --x-2: 11%;
  --c-2: hsla(232.5, 25%, 12%, 1);
  --c-3: hsla(254.00000000000034, 4%, 40%, 1);
  --y-3: 31%;
  --x-3: 2%;
  --y-4: 93%;
  --x-4: 74%;
  --c-4: hsla(349, 0%, 0%, 1);
  ;
  background-color: hsla(232.5, 0%, 0%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
